@charset "UTF-8";
.container-fluid {
	height:100px;
	font-size: 50px;
	color:black;
	margin-top:100px;
	
}	

.container-lg{
	height:100px;
	background-color:green;
	font-size: 50px;
	color:black;
	
}
.row{
	
	border:3px solid brown;
	
}
#rojo{
	background-color: red;
	height:50px
}
#azul{
	background-color: blue;
height:50px;
}
#verde{
	background-color: green;
	height: 50px;
}